<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Actualizar Juguete</h3>
                    <span *ngIf="submitted && updateJuguete.invalid" style="background-color: red;">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]="updateJuguete" (ngSubmit)="esEditar()">
                        <div class="row">
                            <div class="col">
                                <input type="number" class="form-control form-control-lg" formControlName="Id" placeholder="Id">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="Name" placeholder="Nombre">
                            </div>
                        </div>
                        
                                <input type="text" class="form-control form-control-lg mt-4" formControlName="Tipo" placeholder="Tipo">
                                <input type="number" class="form-control form-control-lg mt-4" formControlName="Precio" placeholder="Precio">
                           <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 4px;" routerLink="/list-juguetes">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Actualizar</button>
                           </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>